/* Google font url  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.head-main-box{
    position: relative;
    left: 50%;
    transform: translate(-50%,35%);
    width: 1030px;
}

.d-flex{
    display: flex;    
}

.head-option{
    background: #fff;
    width: 100%;
    padding: 20px 30px;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
}

.head-left-text{
    margin-left: 15px;
}
.head-left-text h5 , .head-middle p{
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    color: #272F30;
    
}
.head-left-text h5 , .head-middle p , .total-money-box b{
    margin-bottom: 5px;
}
.head-left-text p{
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    color: #8D8D8D;
}
.h-four{
    color: #047267;
    font-weight: 700;
    size: 20px;
    line-height: 27px;
    margin-bottom: 5px;
}
.head-left img{
    width: 40px;
    height: 40px;
}

.head-middle .coach1{
    margin-bottom: 22px;
}

.head-right{
    text-align: right;
}

.head-right .b1{
    display: inline-block;
    margin-bottom: 18px;
}

.total-money-main{
    width: 100%;
    background: #EEFEFC;
    border-radius: 0 0 4px 4px;
    
}
.total-money-upper,.total-money{
    padding: 24px 32px 27px 85px;
}

.total-money{
 padding-top: 0;
}
.total-money-box{
    justify-content: space-between;
    margin-top: 20px;
}

.division{
    width: 100%;
    height: 2px;
    background: #047267;
}

.total-money-box:first-child{
    margin-top: 0;
}

.paymentmain-box{
    justify-content: space-between;
    margin-top: 50px;
}

.paynow-btn{
    text-align: center;
}

.paynow-btn button{
  font-size: 20px;
  font-weight: 700;
  padding: 15px 143px;
  display: inline-block;
  margin-top: 30px;
  background: #047267;
  color: #fff;
  border: none;
  border-radius: 5px;
}
/* Responsive Css Write Here  */

@media(max-width:576px){
    .head-main-box {
        transform: translate(-50%,13%);
        width: 90%;
    }
}